/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* end of reset */

nav {
  background-color: #264653;
  color: white;
  height: 60px;
  display: flex;
  align-items: center;
  font-size: 30px;
}

nav h1 {
  margin: 0 25px;
  font-weight: bolder;
}

.container {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
label {
  font-weight: bold;
  margin: 10px 10px 5px 10px;
}

li div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

input,
select {
  padding: 0.2rem;
  text-align: center;
  border: none;
}

input {
  font-size: 1.4rem;
  border-radius: 1rem;
  border: none;
  background-color: #e76f51;
}

select {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1.4rem;
  background-color: #e76f51;
  border-radius: 1rem;
}

li > button {
  margin: 10px auto;
  border: none;
  padding: 1rem;
  font-size: 1.8rem;
  font-weight: bold;
  border-radius: 1rem;
  background-color: #264653;
  color: white;
  border: 3px solid transparent;
}

li > button:hover {
  transition: 0.3s all;
  background-color: white;
  color: #264653;
  border: 3px solid #264653;
}

.box {
  background: #264653;
  outline: 1px #e76f51 solid;
  color: #e76f51;
  text-transform: uppercase;
  font-size: 60px;
  font-weight: bolder;
  min-width: 100px;
  min-height: 100px;
  max-width: 33%;
  max-height: 33%;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

text {
  margin: ;
}

.scores {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 2rem;
  text-transform: capitalize;
}

.hidden {
  display: none;
}

.winner {
  width: 100%;
  text-align: center;
}

.reset {
  padding: 20px 30px;
  border-radius: 25px;
  border: none;
  background-color: #e76f51;
  cursor: pointer;
}
