.container {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
label {
  font-weight: bold;
}

li div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

input,
select {
  padding: 0.2rem;
  text-align: center;
  border: none;
}

input {
  font-size: 1.4rem;
  border-radius: 1rem;
  border: none;
  background-color: #e76f51;
}

select {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1.4rem;
  background-color: #e76f51;
  border-radius: 1rem;
}

li > button {
  margin: 10px auto;
  border: none;
  padding: 1rem;
  font-size: 1.8rem;
  font-weight: bold;
  border-radius: 1rem;
  background-color: #264653;
  color: white;
}

li > button:hover {
  transition: 0.3s all;
  background-color: white;
  color: #264653;
}

.box {
  background: #e9c46a;
  outline: 1px #264653 solid;
  color: #264653;
  font-size: 2rem;
  font-weight: bolder;
  min-width: 100px;
  min-height: 100px;
  width: 33%;
  height: 33%;
  cursor: pointer;
  text-align: center;
}

.scores {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 2rem;
  text-transform: capitalize;
}

.hidden {
  display: none;
}

.winner {
  width: 100%;
  text-align: center;
}

.reset {
  padding: 20px 30px;
  border-radius: 25px;
  border: none;
  background-color: #e76f51;
  cursor: pointer;
}
